autoavalia-api/Webmotors.Shared/Connected Services/Servicos.CorrectData/Produtos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Correct.Model.Decodificador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Correct.Model.Decodificador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoVeiculoDecodificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DsCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsChassi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsChassiTratado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsCombustivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsLocalFabricacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsMotor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsOrigem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsRegiao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsTipoCarroceria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsVersao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NuAnoModelo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NuCdCategoria" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NuCdCombustivel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NuCdRetorno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NuCdTipoCarroceria" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrecificadorI" nillable="true" type="tns:ArrayOfDtoVeiculoPrecificadorI" />
      <xs:element minOccurs="0" name="PrecificadorII" nillable="true" type="tns:ArrayOfDtoVeiculoPrecificadorII" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoVeiculoDecodificado" nillable="true" type="tns:DtoVeiculoDecodificado" />
  <xs:complexType name="ArrayOfDtoVeiculoPrecificadorI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoVeiculoPrecificadorI" nillable="true" type="tns:DtoVeiculoPrecificadorI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoVeiculoPrecificadorI" nillable="true" type="tns:ArrayOfDtoVeiculoPrecificadorI" />
  <xs:complexType name="DtoVeiculoPrecificadorI">
    <xs:sequence>
      <xs:element minOccurs="0" name="DsCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsCombustivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NuValor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoVeiculoPrecificadorI" nillable="true" type="tns:DtoVeiculoPrecificadorI" />
  <xs:complexType name="ArrayOfDtoVeiculoPrecificadorII">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoVeiculoPrecificadorII" nillable="true" type="tns:DtoVeiculoPrecificadorII" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoVeiculoPrecificadorII" nillable="true" type="tns:ArrayOfDtoVeiculoPrecificadorII" />
  <xs:complexType name="DtoVeiculoPrecificadorII">
    <xs:sequence>
      <xs:element minOccurs="0" name="DsCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsCombustivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsNuValor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DsVersao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoVeiculoPrecificadorII" nillable="true" type="tns:DtoVeiculoPrecificadorII" />
</xs:schema>